.jcarousel-container {
	width: 746px;
	height: 369px;
	overflow: hidden;
}
.jcarousel-clip {
	height: 308px;
}
.jcarousel li {
	margin: 0 10px 0 0;
}

.carousel-navigation {
	margin: 0 auto;
	padding: 25px 0px 25px 0px;
}
.carousel-navigation a {
	float:left;
	text-indent:-999em;	
	display:block;
	margin-right: 10px;
}
.carousel-navigation a.prev,
.carousel-navigation a.next {
	background: url(../images/common/sprite.png);	
	width:5px;
	height:12px;	
}
.carousel-navigation a.prev {
	background-position: -13px -35px;
}
.carousel-navigation a.next {
	background-position: -61px -35px;
}
.carousel-navigation li {
	float:left;
	list-style: none;
}
.carousel-navigation li a {	
	background: url(../images/common/sprite.png) -47px -36px;
	width:9px;
	height:10px;
}
.carousel-navigation li.current a {
	background-position: -28px -36px;		
}